
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VmResearch
<main>


    <partial name="_BannerPartial" model="Model.Banner" />


    <section class="research clearfix">
        <div class="container">
            <div class="row ">
                @foreach (var item in Model.Researches)
                {
                    <div class="wrapper col-lg-4 col-md-4 col-sm-6">
                        <div class="research-box">
                            <div class="research-overlay">
                                <div class="research-image">
                                    <a data-lightbox="mygallery"> <img class="img-fluid" src="~/Uploads/@item.MainImage" alt="image"></a>
                                </div>

                                <div class="overlay-content">
                                    <div class="featured-content ">
                                        <div class="featured-title">
                                            <h5><a asp-route-Id="@item.Id" asp-controller="Research" asp-action="Detail">@item.Title</a></h5>
                                        </div>
                                        <span class="category">@item.Category.Name</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </section>


</main>


