
@model Banner

<div class="banner" style="background-image: url(/images/background/about-bg.jpg);">
    <div class="banner-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">@Model.Title</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" >Home</a>
                        </span>
                        <span>@Model.SubTitle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
